/* FONT */

body {
 font-family: "Open Sans", sans-serif;
}

/* MENU */

.body-menu {
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px 0px;
}

.body-menu-wrapper {
    background-color: #181a1b;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

a, a:hover {
    color:  white;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo {
 float: left;
 margin-top: 10px;
 position: relative;
 top: -27px;
}

#flags {
 float: right;
 padding: 0 6px 10px;
 margin: 8px 0 0 0;
}

#flags a {
 padding: 0px 10px;
}

/* BODY */

body {
 background-color: #1e2021;
 color: white;
}

p { 
    clear: both;
}

.body-text {
	margin: 0 auto;
	max-width: 950px;
	text-align: justify;
}

h1 {
 text-align: center;
 margin: 0 0 -20px 0;
 text-transform: uppercase;
 padding: 40px 0;
}

h2 {
 font-size: 16px;
 font-weight: bold;
 clear: both;
}

.console {
    font-family: monospace;
}

/* THUMBS */

a:hover{
    text-decoration: none;
}

h3 {
 text-align: left;
}

h3 span {
 color: #7daeff;
 font-size: 15px;
 text-transform: uppercase;
 background: white;
 padding: 0px 8px;
}

h4 {
 font-size: 24px;
 text-align: center;
 color: #555;
 padding-top: 30px;
}
/* STATUS FRAMES */

.wrapper {
 float:left;
 padding: 10px;
}

.icon {
 float: left;
 border: none;
}
.iconSmall {
 border: none;
}

.iconColor {
 width: 150px;
 height: 150px;
 display: table-cell;
 vertical-align:middle;
 border: none;
 border-radius: 10px;
}
.iconColorSmall {
 width: 79px;
 height: 79px;
}

.iconCore {
 background-repeat: no-repeat; 
 background-position: center; 
 display:table-cell; 
 width: 150px;
}
.iconCoreSmall {
 background-size: 65%;
}

.iconSpin {
 width: 70%;
 margin: auto auto; 
 display: block;
 /*transition: all 1s linear;*/
}

.content {
 float: left; 
 padding: 20px;
 min-height: calc(400px - 4px);
 min-width: calc(400px + 30px - 4px);
 border: 2px solid white;
 border-style: solid;
 border-radius: 10px;
 /*margin-left: 2px; */
}
.contentSmall {
 padding: 6px 10px 0px;
 min-height: calc(75px + 4px);
 max-height: calc(75px + 4px);
 min-width: 200px;
 border: 2px solid white;
 border-style: solid;
 border-radius: 10px;
}

.middle {
    clear: both; 
    margin: auto;
}

form {
    text-align: left;
}

.form-control {
    color: white;
    background-color: black;
}

th, td {
    padding-right: 10pt;
}

/* FOOTER */

.footer {
 background: #181a1b;
 padding: 20px;
 margin-top: 200px;
 text-align: right;
 font-size: small;
 color: gray;
}

@media all and (max-width: 1000px) {
 .body-menu, .body-text {
 	padding-left: 40px; 
 	padding-right: 40px;
 }
 ul.menu {
    padding: 0;
    width: 100%;
 }
}

@media all and (max-width: 390px) {
 .body-menu, .body-text {
 	padding-left: 20px; 
 	padding-right: 20px;
 }
 #logo, #flags {
 	width: 100%;
	text-align: center;
 }
 h1, h1 span {
 	background: transparent;
 }
}
